.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem 1rem;
  width: 100%;

  .noProduct {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 623px) {
  .cardContainer {
    padding: 2rem 4rem;
  }
}

@media (max-width: 342px) {
  .cardContainer {
    padding: 2rem 1rem;
  }
}
