.modalWrapper {
  position: relative;
  display: flex;
  width: 90vw;
  height: 90vh;
  justify-content: space-around;
  align-items: center;

  .sliderBtn {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: 8rem;
    height: 8rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.4s ease-in-out;
  }

  .sliderBtnLeft {
    background-image: url('../../../../assets/icons/arrow_back.svg');
    left: 0;
  }
  .sliderBtnRight {
    background-image: url('../../../../assets/icons/arrow_forward.svg');
    right: 0;
  }
  .sliderBtnDisabled {
    opacity: 0.5;
  }
  .btnClose {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url('../../../../assets/icons/cross.svg');
    background-size: contain;
    border: none;
    width: 5rem;
    height: 5rem;
  }
  .btnClose:hover {
    cursor: pointer;
  }
}

/* .modalImg {
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  } */
