.shadow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--gray-bg-color);
  .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: aqua;

    .closeBtn {
      background-image: url('../../../../assets/icons/cross.svg');
      background-size: contain;
      background-color: unset;
      width: 3rem;
      height: 3rem;
      border: none;
    }
  }
}
