.card {
  width: 30rem;
  height: 40rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  background-color: var(--default-bg-color);
  transition: 0.4s all ease-in-out;
  color: var(--default-text-color);
  h4 {
    font-size: 1.5rem;
  }
}

.imgBlock {
  background-repeat: no-repeat;
  background-size: contain;
  width: 29rem;
  height: 30rem;
}

.card:hover {
  cursor: pointer;
  box-shadow: 3px 3px lightgrey;
}

.card:active {
  cursor: pointer;
  box-shadow: 0 0 3px 3px lightgrey;
}

li {
  list-style: none;
}

.btnContainer {
  position: relative;
}

.btn {
  background-size: contain;
  background-color: unset;
  width: 3rem;
  height: 3rem;
  border: none;
  position: absolute;
  top: -4.5rem;
  right: -4.5rem;
}
