.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(gray-bg-color);
  z-index: 1000;
  display: none;
}
.coverShow {
  display: block;
}

.mobileMenuBox {
  z-index: 1001;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 100%;
  width: 320px;
  height: 100vh;
  padding: 6rem 1rem 1rem 1rem;
  background: white;
  box-shadow: 4px 4px 30px 5px rgba(128, 128, 128, 1);
  transition-duration: 0.25s;
  overflow-y: auto;
  overflow-x: hidden;
}
.mobileMenuBoxShow {
  visibility: visible;
  left: calc(100% - 320px);
}
.menuHeader {
  background-color: var(--accent-color);
  color: var(--light-text-color);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.2;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
}
.backButton {
  color: var(--light-text-color);
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.item {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  /* white-space: nowrap;
  overflow: hidden; */
  text-align: left;
}

.level {
  display: flex;
  transition: transform 0.2s;
}

.level > div {
  min-width: calc(100% + 24px);
}
