.publicWrapper {
  background-color: var(--gray-bg-color);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .title {
    text-align: center;
  }

  .picture {
    background-image: url('../../../assets/img/open1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30rem;
    height: 40rem;
  }
}
