.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    margin-right: 25px;
    text-decoration: none;
    color: black;
    transition: 0.4s all ease-in;
  }
  a img:hover {
    width: 3.5rem;
  }

  a:hover {
    color: rgb(83, 139, 126);
  }
}

.basketImg {
  position: absolute;
  width: 3rem;
  transition: 0.4s all ease-in;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.burgerBar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  transition: 0.4s;
}

.rotate {
  transform: rotate(90deg);
  z-index: 600;
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 6.5rem;
    left: 0;
    padding: 10px 0 25px 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    border: none;
    z-index: 600;
    transition:
      max-height 0.4s ease-in-out,
      opacity 0.4s ease-in-out;
    a {
      margin: 10px 0;
    }

    a:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .menu.show {
    max-height: 600px;
    opacity: 1;
  }

  .burger {
    display: flex;
    z-index: 700;
  }

  .shadow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 10rem;
    left: 0;
    background: rgba(128, 128, 128, 0.3);
    z-index: 500;
  }
}
