.newsWrapper {
  display: flex;
  flex-wrap: wrap;

  .sliderBlock {
    width: 70%;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding: 1rem;
  }

}

@media (max-width: 768px) {
  .newsWrapper {
    flex-direction: column;
  .sliderBlock {
    width: 90%;
  }

  .description {
    width: 90%;
  }}
}

.container> :nth-child(1),
.container> :nth-child(3) {
  flex: 0 0 auto;
}

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.title {
  font-size: 12rem;
}

.subtitle {
  font-size: 3rem;
  font-weight: 600;
}

.btnBlock {
  display: flex;
  gap: 5rem;
}



.img {
  height: 30%;
}