.wrapper {
  padding: 2rem;

  * {
    padding: 0.3rem;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
  }

  .filter {
    display: flex;
    flex-wrap: wrap;
  }
  input,
  select,
  textarea {
    background-color: beige;
  }
}