.wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  .container > :nth-child(1),
  .container > :nth-child(3) {
    flex: 0 0 auto;
  }

  * {
    padding: 0.3rem;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
  }

  .filter {
    display: flex;
    flex-wrap: wrap;
  }

  input,
  select,
  textarea {
    background-color: beige;
  }

  .blocsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .tabelWrapper {
      display: flex;
      flex-direction: column;
      border: 1px solid blue;
      border-radius: 1rem;
      justify-content: space-around;
      position: relative;

      .labelWrapper {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
      }

      .labelBlock {
        position: absolute;
        font-size: 1.2rem;
        top: -1.5rem;
        left: 1rem;
        background-color: white;
        /* background-color: var(--default-dg-color); */
      }
    }
  }

  .resultLabel {
    color: blue;
    font-weight: 600;
    font-size: 5rem;
  }
}
