.materials {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    width: 15rem;
    transition: 0.4s all ease-in-out;
  }
  button:hover {
    cursor: pointer;
    border-color: aliceblue;
  }

}
.title {
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  width: 320px;
  margin: 0 auto 60px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin: 0 auto -55px;
}

.item {
  margin: 2rem 4rem;
  gap: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 1rem;
  padding: 0.5rem;
}

.item:active {
  background-color: rgba(200, 200, 200, 0.5);
}

.image {
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.name {
  font-size: 1.8rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.btn {
  text-align: center;
}
