:root {
  --accent-color: rgb(14, 165, 233);
  --default-bg-color: rgb(255, 255, 255);
  --primary-text-color: rgb(84, 84, 84);
  --body-text-color: rgb(75, 85, 99);
  --light-text-color: rgb(248, 248, 248);
  --gray-bg-color: rgba(248, 248, 248, 0.5);
  --menu-bg-color: rgb(248, 248, 248);
  --dark-bg-color: rgb(75, 85, 99);
  --border-color: rgb(229, 231, 235);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  background-color: var(--default-bg-color);
  color: var(--primary-text-color);
  width: 100%;
  max-width: 1920px;
}

a {
  text-decoration: none;
}

input[type='text']:focus {
  border: none;
  outline: none;
}

h2 {
  margin: 2rem 2rem;
}
