.nologin {
  position: absolute;
  padding: 0.5rem;
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 3rem;
  background-color: rgba(238, 225, 46, 0.8);
  align-items: center;
  transition: 0.4s all ease-in;
  z-index: 500;
}
.wrapper {
  font-size: 1.2rem;
  a {
    padding-left: 2rem;
    text-decoration: none;
    color: var(--primary-text-color);
  }
}
.button {
  position: absolute;
  background-image: url('../../../../assets/icon/cross.svg');
  background-size: cover;
  width: 2rem;
  height: 2rem;
  border: none;
  right: 1rem;
  z-index: 700;
}

.hide {
  height: 0;
  padding: 0;
}
