.btn {
  color: teal;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
  border-radius: 5rem;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.4s all ease-in;
  font-size: 1.8rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.btn:hover {
  background-color: rgb(111, 177, 235);
  color: azure;
}

.btn-center {
  margin-top: 5rem;
}

.btnYes {
  margin-top: 1rem;
  background-color: rgb(241, 98, 98);
  margin-right: 2rem;
}

.btnNo {
  margin-top: 1rem;
  background-color: rgb(110, 241, 98);
}
.btnYes:hover {
  background-color: rgb(150, 11, 11);
  color: white;
}

.btnNo:hover {
  background-color: rgb(13, 92, 6);
  color: white;
}
